{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% if title %}
            {{ title }}
        {% else %}
            SongShare User Registration
        {% endif %}
    </title>
</head>
<body>
    <div class="wrapper">
        <h1>SongShare User Registration</h1>

        {%  block content %}
            <div class="container">
                <h2>Register</h2>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <strong>Password Strength</strong>
                        <div id="password-strength">Please enter a password.</div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 8px;">Register</button>
                </form>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const passwordInput = document.getElementById('password-input');

                    passwordInput.addEventListener('input', function () {
                        const password = passwordInput.value;
                    });
                });
            </script>
        {% endblock %}
    </div>
</body>

</html>